<div class="row my-5">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "database-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Upgrade your Data Management</h5>
        <p class="card-text mt-3">There're endless benefits of migrating data to an online database,
            some of them are: <b>Accessibility, Collaboration, Data Consistency, Data Security, Scalability, etc.</b></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "authorization-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Authentication & Authorization</h5>
        <p class="card-text mt-3">Only an authorized FMB member can access the site. An 'admin' from your FMB organization has the authority to control what parts of the site each member is able to access.</p>
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "features-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Features</h5>
        <p class="card-text mt-3">Visualizes all the sabeels, thaali & takhmeen details of each sabeel and transactions for each takhmeen. Monitor pending & completed takhmeens for each year. Monitor sabeels who are currently receiving or not receiving the thaali.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "report-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Report</h5>
        <ul>
            <li>Total number of thaalis distributed each year.</li>
            <li>Total number of thaalis distributed, categorized by size of each year.</li>
            <li>Total number of thaalis distributed in each apartment/mohalla</li>
            <li>Total takhmeen niyat & pending amount for each year.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "distribution-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Distribution</h5>
        <p class="card-text mt-3">Produces a PDF report for each apartment/mohalla so that an FMB member can share it with the respective distributor without granting them access to the site.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body my-3">
        <%= image_tag "responsive-design-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Report</h5>
        <p class="card-text mt-3">Prioritized user experience for every device. Whether you're browsing on a desktop computer, laptop, tablet, or smartphone, this site is fully responsive and adapts to your screen size for optimal viewing.</p>
      </div>
    </div>
  </div>
</div>