<h4 class="text-center pt-5 mt-5 mb-3">Benefits of using this FMB portal in your organisation</h4>

<div class="row">
  <div class="col-sm-6 mb-sm-0">
    <div class="card border-0 about">
      <div class="card-body">
        <%= image_tag "database-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Upgrade your Data Management</h5>
        <p class="card-text mt-3">There're endless benefits of migrating data to an online database,
            some of them are: <b>Accessibility, Collaboration, Data Consistency, Data Security, Scalability, etc.</b></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body">
        <%= image_tag "authorization-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Authentication & Authorization</h5>
        <ul class="card-text mt-3">
          <li>Only an authorized FMB member can access the site.</li>
          <li>An 'admin' from your FMB organization has the authority to control what parts of the site each member is able to access.</li>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body">
        <%= image_tag "features-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Features</h5>
        <ul class="card-text mt-3">
          <li>Visualizes all the sabeels, thaali takhmeen for all the years and transactions.</li>
          <li>Visualizes all thaali & takhmeen details of each sabeel.</li>
          <li>Visualizes all transactions of each takhmeen.</li>
          <li>Monitor sabeels who are currently receiving or not receiving the thaali.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body">
        <%= image_tag "report-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Report</h5>
        <ul class="card-text mt-3">
            <li>Total number of thaalis distributed each year.</li>
            <li>Total number of thaalis distributed, categorized by size of each year.</li>
            <li>Total number of thaalis distributed in each apartment/mohalla</li>
            <li>Total takhmeen niyat & pending amount for each year.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body">
        <%= image_tag "distribution-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Distribution</h5>
        <p class="card-text mt-3">Produces a PDF report for each apartment/mohalla so that an FMB member can share it with the respective distributor without granting them access to the site.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 about">
      <div class="card-body">
        <%= image_tag "responsive-design-64x64.png", class: "mx-auto d-block text-center mb-3" %>
        <h5 class="card-title text-center">Responsive Design</h5>
        <p class="card-text mt-3">Prioritized user experience for every device. Whether you're browsing on a desktop computer, laptop, tablet, or smartphone, this site is fully responsive and adapts to your screen size for optimal viewing.</p>
      </div>
    </div>
  </div>
</div>