<h4 class="heading pt-5 mt-5">Benefits of using this FMB portal in your organisation</h4>

<div class="row">
  <div class="col-sm-6 mt-6">
    <div class="card position-relative rounded-5 py-3 shadow c-bg c-border">
      <div class="card-body">
        <%= image_tag "database-64x64.png", class: "c-shadow rounded-circle position-absolute top-0 start-50 translate-middle text-center" %>
        <h5 class="heading mt-3 card-title">Using database over stylesheets</h5>
        <p class="card-text mt-3">An online database offers numerous advantages, including
        <b>Accessibility, Collaboration, Data Consistency, Data Security, Scalability,</b> among others.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-6">
    <div class="card position-relative rounded-5 py-3 shadow c-bg c-border">
      <div class="card-body">
        <%= image_tag "authorization-64x64.png", class: "c-shadow rounded-circle position-absolute top-0 start-50 translate-middle text-center" %>
        <h5 class="heading mt-3 card-title text-center">Authentication & Authorization</h5>
        <ul class="card-text mt-3">
          <li>Only an authorized FMB member can access the site.</li>
          <li>An '<i>admin</i>' from your FMB organization has the authority to control what parts of the site each FMB member is able to access.</li>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 mt-6">
    <div class="card position-relative rounded-5 py-3 shadow c-bg c-border">
      <div class="card-body">
        <%= image_tag "features-64x64.png", class: "c-shadow rounded-circle position-absolute top-0 start-50 translate-middle text-center" %>
        <h5 class="heading mt-3 card-title text-center">Features</h5>
        <ul class="card-text mt-3">
          <li>Shows all sabeels and their thaalis for all the years and transactions.</li>
          <li>Shows all thaali details of each sabeel.</li>
          <li>Shows all transactions of each thaali.</li>
          <li>Ability to search a particular sabeel, thaali or transaction.</li>
          <li>Monitor sabeels who are currently receiving or not receiving the thaali <strong> & much more</strong>.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-6">
    <div class="card position-relative rounded-5 py-3 shadow c-bg c-border">
      <div class="card-body">
        <%= image_tag "report-64x64.png", class: "c-shadow rounded-circle position-absolute top-0 start-50 translate-middle text-center" %>
        <h5 class="heading mt-3 card-title text-center">Report</h5>
        <ul class="card-text mt-3">
          <li>Number of thaalis distributed each year.</li>
          <li>Number of thaalis distributed, categorized by size of each year.</li>
          <li>Number of thaalis distributed in each apartment/mohalla.</li>
          <li>Total amount of all thaalis & pending amount for each year.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-sm-6 mt-6">
    <div class="card position-relative rounded-5 py-3 shadow c-bg c-border">
      <div class="card-body">
        <%= image_tag "distribution-64x64.png", class: "c-shadow rounded-circle position-absolute top-0 start-50 translate-middle text-center" %>
        <h5 class="heading mt-3 card-title text-center">Distribution</h5>
        <p class="card-text mt-3">Produces a PDF report for each apartment/mohalla so that an FMB member can share it with the respective distributor without granting them access to the site.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-6">
    <div class="card position-relative rounded-5 py-3 shadow c-bg c-border">
      <div class="card-body">
        <%= image_tag "responsive-design-64x64.png", class: "c-shadow rounded-circle position-absolute top-0 start-50 translate-middle text-center" %>
        <h5 class="heading mt-3 card-title text-center">Responsive Design</h5>
        <p class="card-text mt-3">Whether you're browsing on a desktop computer, laptop, tablet, or smartphone, it's fully responsive and adapts to your screen size for optimal viewing.</p>
      </div>
    </div>
  </div>
</div>
