<%# * Title %>
<h2 class="text-center">Faizul Mawaid il Burhaniyah</h2>

<%# * Notes %>
<%= render partial: "note" %>

<%# * Instructions %>
<div class="my-5 text-center text-secondary">
  <p class="mb-0">This is the common portal for Faizul Mawaid il Burhaniyah.</p>
  <p>Enter your credentials below to proceed.</p>
</div>

<%# * Login Form %>
<%= render partial: "form" %>

<%# * About %>
<%= render partial: "about" %>

<hr>

<%# * Contact Info %>
<%= render partial: "contact" %>

<%# * Footer %>
<%= render partial: "shared/footer" %>
