<h2 class="text-center">Faizul Mawaid il Burhaniyah</h2>

<div class="my-5 text-center text-secondary">
<p class="mb-0">This is the common portal for Faizul Mawaid il Burhaniyah.</p>
<p>Enter your credentials below to proceed.</p>
</div>


<%# <h2 class="text-center">Member Login</h2> %>

<div class="form-card border shadow-lg container col-lg-4 offset-lg-4 p-5 rounded-5">
    <%= simple_form_for :sessions, url: signup_path do |f| %>
        <%= f.input :its, label: "ITS No.", as: :integer %>
        <%= f.input :password %>

        <%= f.button :submit, value: "Login" %>
    <% end %>
</div>

<%= render partial: "shared/footer" %>