<% content_for :title, "Change Password" %>

<%# * Heading %>
<% content_for :heading do %>
  <h2>Change Password</h2>
<% end %>

<div class="container col-xxl-6 col-xl-7 col-lg-8 col-md-11 col-sm-10 pt-4 p-5 bg-white bg-opacity-50 shadow-lg border border-2 border-success-subtle rounded-4">
  <%= simple_form_for @user do |f| %>
    <%= f.error_notification %>
    <%= f.input :password, input_html: {autocomplete: "off"} %>
    <%= f.input :password_confirmation, input_html: {autocomplete: "off"} %>
    <%= f.button :submit, value: "Update Password", action_name: %>
  <% end %>
</div>
