<%# * Title %>
<h2 class= "text-center mb-5">Change Password</h2>

<% password_message = "between 6 to 72 characters long" %>

<%= simple_form_for @user do |f| %>
    <%= f.error_notification %>
    <%= f.input :password, hint: password_message, input_html: { autocomplete: 'off' }, required: true %>
    <%= f.input :password_confirmation, hint: "should match the password" %>

    <%= f.button :submit, value: "Update Password" %>
<% end %>

<%# * back button %>
<%= render partial: "shared/back" %>