<%= turbo_frame_tag :results, data: { turbo_action: "advance" } do %>
    <div id=<%="all-#{id}"%> class="container text-center my-5 border-2 rounded-4 shadow-lg c-bg">
        <% if instances.any? %>
            <%= render partial: "theader" %>
            <div id=<%="#{id}"%> ></div>
            <%= turbo_frame_tag :pagination, loading: :lazy, src: path %> %>
        <% else %>
            <%= render partial: "shared/no_results" %>
        <% end %>
    </div>
<% end %>