<%= turbo_frame_tag :results, data: {turbo_action: "advance"} do %>
    <div id=<%= "all-#{id}" %> ">
        <% if instances.any? %>
            <%= render partial: "theader" %>
            <div id=<%= id.to_s %> ></div>
            <%= turbo_frame_tag :pagination, loading: :lazy, src: path %>
        <% else %>
            <%= render partial: "shared/no_results" %>
        <% end %>
    </div>
<% end %>
