<div class="container col-xxl-6 col-xl-7 col-lg-8 col-md-11 col-sm-10 pt-4 p-5 bg-white bg-opacity-50 shadow-lg border border-2 border-success-subtle rounded-4 mb-5">
  <%= simple_form_for @thaali, url: url_helper do |f| %>
    <%= f.error_notification %>

    <%# for new thaali it will show current year %>
    <% if @thaali.year.nil? %>
      <%= f.input :year, disabled: true, input_html: {value: CURR_YR} %>

    <%# for existing thaali it will show its year %>
    <% else %>
      <%= f.input :year, disabled: true %>
    <% end %>

    <%= f.input :number, required: true %>
    <%= f.input :size, collection: SIZES.map { |size| [size.capitalize, size] } %>
    <%= f.input :total, required: true %>
    <%= f.button :submit %>
  <% end %>
</div>
