<% @thaalis.each do |thaali| %>
  <%= link_to(thaali, id: dom_id(thaali), class: "row py-2 link-underline link-underline-opacity-0") do %>
    <div class="col fw-medium">
      <%= highlight(thaali.number.to_s, params.dig(:q, :number_eq)) %>
    </div>
    <div class="col-6 col-md-4 text-info fw-medium text-truncate">
      <%= thaali.sabeel_name %>
    </div>
    <div class="col <%= thaali.dues_cleared? ? "fw-bold text-success" : "text-danger" %>">
      <%= add_rupees_symbol_to thaali.balance %>
    </div>
  <% end %>
<% end %>
