<% content_for :title, "Edit Thaali" %>

<h2 class="heading mb-3">Edit Thaali</h2>

<div class="container col-xxl-6 col-xl-7 col-lg-8 col-md-11 col-sm-10 pt-4 p-5 bg-white bg-opacity-50 shadow-lg border border-2 border-success-subtle rounded-4 mb-5">
  <%= simple_form_for @thaali, url: thaali_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :year, disabled: true, input_html: {value: @thaali.year} %>
    <%= f.input :number %>
    <%= f.input :size, collection: Thaali.sizes.map { [_2, _1] }, as: :radio_buttons %>
    <%= f.input :total, disabled: true %>
    <%= f.button :submit, action_name: %>
  <% end %>
</div>
