<%# * Title %>
<h2 class="heading">Thaali
  <span class="text-muted">#<%= @thaali.number.to_s %></span>
</h2>

<h4 class="heading">
  of ITS <%= link_to @sabeel.its, sabeel_path(@sabeel), class: "btn btn-outline-primary" %>
  <span class="text-muted">(<%= @thaali.year %>)</span>
</h4>

<%# * show %>
<%= render @thaali %>

<%# * action buttons %>
<%= render partial: "shared/actions",
      locals: {edit_path: edit_thaali_path(@thaali), destroy: @thaali} %>

<%# * Transactions %>
<% unless @thaali.dues_cleared? || current_user.is?("viewer") %>
  <div class="col-5 col-md-4 col-lg-3 col-xl-2 vstack mt-5 mx-auto">
    <%= link_to "New Transaction", new_thaali_transaction_path(@thaali), method: :get, class: "btn btn-success" %>
  </div>
<% end %>

<div id="transactions" class="mt-5">
  <p class="fw-bold text-center text-info">
    Total number of Transactions: <%= @transactions.size %>
  </p>

  <div class="container mt-3 mb-5 text-center bg-white bg-opacity-50 border border-4 border-secondary rounded-4">
    <% if @transactions.any? %>
      <%= render "transactions/theader" %>
      <%= render "transactions/transactions" %>
    <% end %>
  </div>
</div>
