<% content_for :title, "Thaali no. #{@thaali.number}" %>

<% content_for :heading do %>
  <h2>Thaali No: <em class="text-secondary"><%= @thaali.number %></em></h2>
<% end %>

<%= render @thaali %>

<%# * action buttons %>
<% unless current_user.is?("viewer") %>
  <section id="actions">
    <%= render "shared/actions", instance: @thaali %>

    <% unless @thaali.dues_cleared? %>
      <nav class="col-5 col-md-4 col-lg-3 col-xl-2 vstack mt-5 mx-auto">
        <%= link_to "New Transaction", new_thaali_transaction_path(@thaali), method: :get, class: "btn btn-success" %>
      </nav>
    <% end %>
  </section>
<% end %>

<section id="payment-summary" class="col-xl-3 col-lg-4 col-md-5 col-7 mx-auto mt-4">
  <div class="row fw-bold text-center">
    <% if @thaali.dues_cleared? %>
      <strong class="col fs-5 text-success">
        <i class="fa-solid fa-check-double"></i>
        <span>&nbsp;</span>
        <span>Takhmeen Complete</span>
      </strong>
    <% else %>
      <em class="col text-success fst-normal">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <%= add_rupees_symbol_to @thaali.paid %>
      </em>

      <strong class="col text-danger">
        <i class="fa-solid fa-scale-unbalanced-flip fa-bounce"></i>
        <%= add_rupees_symbol_to @thaali.balance %>
      </strong>
    <% end %>
  </div>
</section>

<%# * Transactions %>
<section id="transactions" class="mt-4">
  <p class="fw-bold text-center text-info">
    Total number of Transactions: <em class="fst-nornal"><%= @transactions.size %></em>
  </p>

  <% if @transactions.any? %>
    <section class="bg-white bg-opacity-75 border border-4 border-secondary rounded-4 text-center mt-3 mb-5">
      <%= render "transactions/theader" %>
      <div class="container">
        <%= render "transactions/transactions" %>
      </div>
    </section>
  <% end %>
</div>
