<% content_for :title, "Thaali no. #{@thaali.number}" %>

<%= render @thaali %>

<%# * action buttons %>
<%= render "shared/actions", instance: @thaali %>

<div id="payment-summary" class="col-xl-3 col-lg-4 col-md-5 col-7 mx-auto mt-5">
  <div class="row fw-bold text-center">
    <% if @thaali.dues_cleared? %>
      <div class="col fs-5 text-success">
        <i class="fa-solid fa-check-double"></i>
        <span>&nbsp;</span>
        <span>Takhmeen Complete</span>
      </div>
    <% else %>
      <div class="col text-success">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <%= add_rupees_symbol_to @thaali.paid %>
      </div>

      <div class="col text-danger">
        <i class="fa-solid fa-scale-unbalanced-flip fa-bounce"></i>
        <%= add_rupees_symbol_to @thaali.balance %>
      </div>
    <% end %>
  </div>
</div>

<%# * Transactions %>
<% unless @thaali.dues_cleared? || current_user.is?("viewer") %>
  <div class="col-5 col-md-4 col-lg-3 col-xl-2 vstack mt-3 mx-auto">
    <%= link_to "New Transaction", new_thaali_transaction_path(@thaali), method: :get, class: "btn btn-success" %>
  </div>
<% end %>

<div id="transactions" class="mt-3">
  <p class="fw-bold text-center text-info">
    Total number of Transactions: <%= @transactions.size %>
  </p>

  <div class="container mt-3 mb-5 text-center bg-white bg-opacity-75 border border-4 border-secondary rounded-4">
    <% if @transactions.any? %>
      <%= render "transactions/theader" %>
      <%= render "transactions/transactions" %>
    <% end %>
  </div>
</div>
