<%# * Title %>
<h2 class="heading">Thaali Statistics</h2>

<%# * Content %>
<% @years.each do |year, values| %>
  <div id="<%= year %>" class="text-center container col-lg-8 offset-lg-2 my-5 p-3 border rounded-5 shadow bg-white bg-opacity-50">
    <h3 class="heading"><%= year %></h3>

    <div class="row mt-3">
        <p class="col fw-bold text-success">
          Total:
          <%= add_rupees_symbol_to values[:total] %>
        </p>
        <p class="col fw-bold text-danger">
          Balance:
          <%= add_rupees_symbol_to values[:balance] %>
        </p>
    </div>

    <div class="row justify-content-evenly mt-3">
      <%= link_to "Complete: #{values[:complete]}", thaalis_complete_path(year), class: "default-btn btn-outline-success" %>
      <%= link_to "Pending: #{values[:pending]}", thaalis_pending_path(year), class: "default-btn btn-outline-danger" %>
    </div>

    <div class="row mt-4 fw-bold">
      <p class="col text-info">Small: <%= values[:small].to_s %></p>
      <p class="col text-secondary">Medium: <%= values[:medium].to_s %></p>
      <p class="col text-success">Large: <%= values[:large].to_s %></p>
    </div>

    <div class="row mt-2">
      <% if year == CURR_YR %>
        <%= link_to "Total Thaalis: #{values[:count]}", root_path, class: "fw-bold text-success fs-5" %>
      <% else %>
        <%= link_to "Total Thaalis: #{values[:count]}", thaalis_all_path(year), class: "fw-bold text-success fs-5" %>
      <% end %>
    </div>
  </div>
<% end %>
