<div class="container col-xxl-8 col-sm-10 pt-4 p-5 bg-white bg-opacity-50 shadow-lg border border-2 border-success-subtle rounded-4 mb-5">
  <%= simple_form_for @sabeel do |f| %>
    <%= f.error_notification %>
    <%= f.input :its %>
    <%= f.input :name, placeholder: "Juzer Shabbir Shakir" %>
    <%= f.input :apartment, collection: Sabeel.apartments.invert.to_a, as: :radio_buttons %>
    <%= f.input :flat_no %>
    <%= f.input :mobile, placeholder: "9876543210" %>
    <%= f.input :email %>
    <%= f.button :submit, action_name: %>
  <% end %>
</div>
