<div class="container col-xxl-6 col-xl-7 col-lg-8 col-md-11 col-sm-10 pt-4 p-5 bg-white bg-opacity-50 shadow-lg border border-2 border-success-subtle rounded-4 mb-5">
  <%= simple_form_for @sabeel do |f| %>
    <%= f.error_notification %>
    <%= f.input :its, required: true %>
    <%= f.input :name, placeholder: "Shk. Fakruddin Nakhudawala", required: true %>
    <%= f.input :apartment, collection: APARTMENTS.map { |apartment| [apartment.to_s.titleize, apartment] } %>
    <%= f.input :flat_no, required: true %>
    <%= f.input :mobile, required: true, placeholder: "9876543210" %>
    <%= f.input :email %>
    <%= f.button :submit %>
  <% end %>
</div>
