<p class="mt-5 fw-bold text-center text-info">Total number of Takhmeens: <%= @thaalis.count %></p>

<div id="show-header-sabeel" class="row py-2 fs-5 fw-semibold">
    <div class="col">
        <th>Year</th>
    </div>
    <div class="col">
        <th>Niyat</th>
    </div>
    <div class="col">
        <th>Balance</th>
    </div>
    <div class="col">
        <th>TC</th>
    </div>
</div>
<% @thaalis.each do |thaali| %>
    <div  id="thaali_<%= thaali.year %>" class="row py-3 fs-5 border-bottom border-light">
        <div id="<%= thaali.year %>" class="col">
            <%= button_to thaali.year, takhmeen_path(thaali), method: :get, class: "btn btn-outline-primary btn-sm px-3" %>
        </div>
        <div class="col text-danger fw-bold">
            <%= thaali.show_currency_for(thaali.total) %>
        </div>
        <div class="col text-success fw-bold">
            <%= thaali.show_currency_for(thaali.balance) %>
        </div>
        <div class="col">
            <%= thaali.is_complete %>
        </div>
    </div>
<% end %>
