<div class="row py-2 fs-5 fw-semibold border-bottom-0 bg-secondary heading">
  <div class="col">
    <th>Year</th>
  </div>
  <div class="col">
    <th>Total</th>
  </div>
  <div class="col">
    <th>Balance</th>
  </div>
</div>

<% @thaalis.each do |thaali| %>
  <div id="thaali_<%= thaali.year %>" class="row py-2">
    <div id="<%= thaali.year %>" class="col">
      <%= button_to thaali.year, thaali, method: :get, class: "btn btn-outline-primary btn-sm px-3" %>
    </div>
    <div class="col text-info fw-medium">
      <%= add_rupees_symbol_to thaali.total %>
    </div>
    <div class="col <%= thaali.dues_cleared? ? "fw-bold text-success" : "text-danger" %>">
      <%= add_rupees_symbol_to thaali.balance %>
    </div>
  </div>
<% end %>
