<div class="row py-2 fs-5 fw-semibold border-bottom-0 bg-secondary heading">
  <div class="col">
    <th>Year</th>
  </div>
  <div class="col">
    <th>Total</th>
  </div>
  <div class="col">
    <th>Balance</th>
  </div>
</div>

<div id="thaalis">
  <% @thaalis.each do |thaali| %>
    <%= link_to(thaali, id: "thaali_#{thaali.year}", class: "row py-2 link-underline link-underline-opacity-0") do %>
      <div class="col fw-medium">
        <%= thaali.year %>
      </div>
      <div class="col text-info fw-medium">
        <%= add_rupees_symbol_to thaali.total %>
      </div>
      <div class="col <%= thaali.dues_cleared? ? "fw-bold text-success" : "text-danger" %>">
        <%= add_rupees_symbol_to thaali.balance %>
      </div>
    <% end %>
  <% end %>
</div>
