<section id="thaalis" class="mt-5">
  <p class="fw-bold text-center text-info">Total number of Thaalis: <em><%= @thaalis.size %></em></p>

  <section class="bg-white bg-opacity-75 border border-4 border-secondary rounded-4 text-center  mt-3 mb-5">
    <table class="table mb-0">
      <thead class="rounded-top-3 heading fs-5 py-2">
        <tr>
          <th class="col-4">Year</th>
          <th class="col-4">Total</th>
          <th class="col-4">Balance</th>
        </tr>
      </thead>
    </table>

    <div class="container">
      <% @thaalis.each do |thaali| %>
        <%= link_to(thaali, id: "thaali_#{thaali.year}", class: "row py-2 link-underline link-underline-opacity-0") do %>
          <strong class="col fw-medium">
            <%= thaali.year %>
          </strong>
          <em class="col text-info fw-medium">
            <%= add_rupees_symbol_to thaali.total %>
          </em>
          <strong class="col <%= thaali.dues_cleared? ? "fw-bold text-success" : "text-danger" %>">
            <%= add_rupees_symbol_to thaali.balance %>
          </strong>
        <% end %>
      <% end %>
    </div>
  </section>
</section>
