<%# * Title %>
<h2 class= "text-center">Active Sabeels: <span class="text-secondary"><%= "#{@apt.titleize}" %></span> </h2>

<%# * No. of Sabeels %>
<p class="fs-5 mt-4 fw-bold text-info text-center">Total number of Active Sabeels: <%= @total %></p>

<%# * Generate PDF %>
<div class="mt-4 text-center">
    <%= button_to '<i class=" fa-regular fa-file-pdf fa-lg"></i> Generate PDF'.html_safe,
                    active_sabeels_path(@apt, format: :pdf), method: :get, form: {target: '_blank'},
                    class: "btn btn-outline-primary" %>
</div>


<%# * show all active sabeels %>
<div class="container text-center mt-5">
    <% if @sabeels.any? %>
        <%= render partial: "theader-2" %>
        <div id="sabeels"></div>
        <%= turbo_frame_tag :pagination, loading: :lazy, src: active_sabeels_path(format: :turbo_stream) %> %>
    <% else %>
        <%= render partial: "shared/no_results" %>
    <% end %>
</div>