<%# * Title %>
<h2 class= "text-center">Active Sabeels of <%= "#{@apt.titleize}" %></h2>

<%# * No. of Sabeels %>
<p class="fs-5 mt-5 fw-bold text-info text-center">Total number of Active Sabeels: <%= @total %></p>

<%# * show all active sabeels %>
<div class="container text-center mt-5">
    <% if @sabeels.any? %>
        <%= render partial: "theader-2" %>
        <div id="sabeels"></div>
        <%= turbo_frame_tag :pagination, loading: :lazy, src: active_sabeels_path(format: :turbo_stream) %> %>
    <% else %>
        <%= render partial: "shared/no_results" %>
    <% end %>
</div>