<%# * Title %>
<h2 class= "text-center">All Sabeels</h2>


<%# * search %>
<div id="search" class="col-md-4 offset-md-4 mt-5" role="search">
    <%= search_form_for @q, data: { turbo_frame: :results } do |f| %>
      <%= f.search_field :hof_name_or_its_cont,
            oninput: 'this.form.requestSubmit()', placeholder: "Search By HOF Name or ITS No.",
                class: "form-control",  type: "search", autofocus: true, autocomplete: "off"  %>
    <% end %>
</div>

<p class="mt-5 fw-bold text-center text-info">Total number of Sabeels: <%= Sabeel.count %></p>

<%# * show %>
<%= turbo_frame_tag :results, data: { turbo_action: "advance" } do %>
    <div class="container text-center mt-5">
        <% if @sabeels.any? %>
            <%= render partial: "theader" %>
            <div id="sabeels"></div>
            <%= turbo_frame_tag :pagination, loading: :lazy, src: all_sabeels_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h) %> %>
        <% else %>
            <%= render partial: "shared/no_results" %>
        <% end %>
    </div>
<% end %>

