<%= render @sabeel %>

<%# * action buttons %>
<%= render partial: "shared/actions",
      locals: {edit_path: edit_sabeel_path(@sabeel), destroy: @sabeel} %>

<%# * Thaalis %>
<% if !@sabeel.taking_thaali? && !current_user.is?("viewer") %>
  <div class="col-5 col-md-4 col-lg-3 col-xl-2 vstack mt-5 mx-auto">
    <%= link_to "New Thaali", new_sabeel_thaali_path(@sabeel), method: :get, class: "btn btn-success" %>
  </div>
<% end %>

<% if @sabeel.taking_thaali? || @sabeel.took_thaali? || @thaalis.any? %>
  <div id="thaalis" class="mt-5">
    <p class="fw-bold text-center text-info">
      Total number of Thaalis: <%= @thaalis.size %>
    </p>

    <div class="container mt-3 mb-5 text-center bg-white bg-opacity-75 border border-4 border-secondary rounded-4">
      <%= render "thaalis" %>
    </div>
  </div>
<% end %>
