<%# * Title %>
<h2 class= "text-center">Sabeel <span class="text-secondary">#<%= "#{@sabeel.its}" %></span></h2>


<%# * show %>
<%= render partial: "show" %>

<%# * action buttons %>
<%= render partial: "shared/actions",
    locals: { edit_path: edit_sabeel_path(@sabeel) } %>


<%# * destroy Modal %>
<%= render partial: "shared/destroy_modal",
     locals: {destroy_path: @sabeel, message: "delete Sabeel ITS no: #{@sabeel.its}?" } %>


<%# * Thaali Takhmeens %>
<%= button_to "New Takhmeen", new_sabeel_takhmeen_path(@sabeel), method: :get,  class: "btn btn-outline-success mt-5 vstack mx-auto" if @thaali_inactive %>

<div id="thaalis" class="mt-5">
    <div class="container text-center">
        <%= render partial: "takhmeens" if @thaalis.any? %>
    </div>
</div>