<p><%= @sabeel.its %></p>
<p><%= @sabeel.apartment %></p>

<p>Total Takhmeens <%= @thaalis.count %></p>

<% if @thaali_inactive %>
    <%= link_to "New Takhmeen", new_sabeel_takhmeen_path(@sabeel) %>
<% end %>

<% if @thaalis.any? %>
    <% @thaalis.each do | thaali | %>
        <div id="thaali_<%= thaali.year %>">
            <%= thaali.year %>
            <%= thaali.total %>
            <%= thaali.paid %>
            <%= thaali.balance %>

            <%= link_to "New Transaction", new_takhmeen_transaction_path(thaali) unless thaali.is_complete %>
        </div>
    <% end %>
<% end %>