<%# * Title %>
<h1 class= "text-center">Show Sabeel #<%= "#{@sabeel.its}" %></h1>


<%# * show %>
<p><%= @sabeel.hof_name %></p>
<p><%= @sabeel.address %></p>
<p><%= @sabeel.mobile %></p>
<p><%= @sabeel.email %></p>


<%# * action buttons %>
<%= render partial: "shared/actions",
    locals: { edit_path: edit_sabeel_path(@sabeel), model: "Sabeel" } %>


<%# * destroy Modal %>
<%= render partial: "shared/destroy_modal",
     locals: {destroy_path: @sabeel, message: "delete Sabeel ITS no: #{@sabeel.its}?" } %>


<%# * Thaali Takhmeens %>
<p>Total Takhmeens <%= @thaalis.count %></p>

<% if @thaali_inactive %>
    <%= link_to "New Takhmeen", new_sabeel_takhmeen_path(@sabeel) %>
<% end %>

<% if @thaalis.any? %>
    <% @thaalis.each do | thaali | %>
        <div id="thaali_<%= thaali.year %>">
            <span id="<%= thaali.year %>"> <%= link_to thaali.year, takhmeen_path(thaali) %> </span>
            <%= thaali.total %>
            <%= thaali.balance %>
            <%= thaali.is_complete %>

            <%= link_to "New Transaction", new_takhmeen_transaction_path(thaali) unless thaali.is_complete %>
        </div>
    <% end %>

<% end %>