<%# * Title %>
<h2 class="text-center">Sabeel <span class="text-secondary">#<%= @sabeel.its %></span></h2>

<%# * show %>
<%= render partial: "show" %>

<%# * action buttons %>
<%= render partial: "shared/actions",
      locals: {edit_path: edit_sabeel_path(@sabeel), destroy: @sabeel} %>

<%# * Thaalis %>
<% if !@sabeel.taking_thaali? && !current_user.is?("viewer") %>
  <%= button_to "New Thaali", new_sabeel_thaali_path(@sabeel), method: :get, class: "btn btn-outline-success mt-5 vstack mx-auto" %>
<% end %>

<% if @sabeel.taking_thaali? || @sabeel.took_thaali? || @thaalis.any? %>
  <div id="thaalis" class="mt-5">
    <div class="container text-center c-bg">
      <%= render partial: "thaalis" %>
    </div>
  </div>
<% end %>
