<%# * Title %>
<h2 class= "text-center">Show Sabeel <span class="text-secondary">#<%= "#{@sabeel.its}" %></span></h2>


<%# * show %>
<p><%= @sabeel.hof_name %></p>
<p><%= @sabeel.address %></p>
<p><%= @sabeel.mobile %></p>
<p><%= @sabeel.email %></p>


<%# * action buttons %>
<%= render partial: "shared/actions",
    locals: { edit_path: edit_sabeel_path(@sabeel), model: "Sabeel" } %>


<%# * destroy Modal %>
<%= render partial: "shared/destroy_modal",
     locals: {destroy_path: @sabeel, message: "delete Sabeel ITS no: #{@sabeel.its}?" } %>


<%# * Thaali Takhmeens %>
<%= button_to "New Takhmeen", new_sabeel_takhmeen_path(@sabeel), method: :get,  class: "btn btn-outline-success mt-5 vstack mx-auto" if @thaali_inactive %>

<div id="thaalis" class="mt-5">
    <div class="container text-center">
        <% if @thaalis.any? %>
            <%= render partial: "takhmeens" %>
        <% else %>
            <p class="mt-7 fs-4 text-warning">No takhmeens to show</p>
        <% end %>
    </div>
</div>