<% content_for :title, @sabeel.name %>

<% content_for :heading do %>
  <h2><%= @sabeel.name %></h2>
<% end %>

<%= render @sabeel %>

<%# * action buttons %>
<% unless current_user.is?("viewer") %>
  <section id="actions">
    <%= render "shared/actions", instance: @sabeel %>

    <%# * Thaalis %>
    <% unless @sabeel.taking_thaali? %>
      <nav class="col-5 col-md-4 col-lg-3 col-xl-2 vstack mt-5 mx-auto">
        <%= link_to "New Thaali", new_sabeel_thaali_path(@sabeel), method: :get, class: "btn btn-success" %>
      </nav>
    <% end %>
  </section>
<% end %>

<%= render "thaalis" if @thaalis.present? %>
