<h1>Show Sabeel #<%= "#{@sabeel.its}" %></h1>

<p><%= @sabeel.hof_name %></p>
<p><%= @sabeel.address %></p>
<p><%= @sabeel.mobile %></p>
<p><%= @sabeel.email %></p>


<%= link_to "Edit Sabeel", edit_sabeel_path(@sabeel) %>
<%= button_to "Delete Sabeel", sabeel_path(@sabeel),
     data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete Sabeel #{@sabeel.its}?" }, method: :delete %>

<p>Total Takhmeens <%= @thaalis.count %></p>

<% if @thaali_inactive %>
    <%= link_to "New Takhmeen", new_sabeel_takhmeen_path(@sabeel) %>
<% end %>


<% if @thaalis.any? %>
    <% @thaalis.each do | thaali | %>
        <div id="thaali_<%= thaali.year %>">
            <span id="<%= thaali.year %>"> <%= link_to thaali.year, takhmeen_path(thaali) %> </span>
            <%= thaali.total %>
            <%= thaali.balance %>
            <%= thaali.is_complete %>

            <%= link_to "New Transaction", new_takhmeen_transaction_path(thaali) unless thaali.is_complete %>
        </div>
    <% end %>

    <%= link_to "All Transactions", sabeel_transactions_path(@sabeel) %>
<% end %>