<div class="mb-5">
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark navbar-dark fixed-top">

    <div class="container-fluid">
      <%# * Title %>
      <%= link_to "FMB", root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%# * Create Sabeel %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Create Sabeel", new_sabeel_path, class: "nav-link active" %>
            </li>
          <% end %>

          <%# * Resources %>
          <%= render partial: "shared/navbar/resources_dropdown"%>
          <%# * Statistics %>
          <%= render partial: "shared/navbar/statistics_dropdown"%>
          <%# * User Dropdown %>
          <% if current_user.admin? %>
            <%= render partial: "shared/navbar/admin_dropdown"%>
          <% elsif current_user.member? %>
            <%= render partial: "shared/navbar/member_dropdown"%>
          <% else %>
            <li id="viewer"><%= link_to "Log out", destroy_path, data: { turbo_method: :delete }, class: "nav-item nav-link text-center text-danger fw-bold"%></li>
          <% end %>
        </ul>
      </div>

    </div>

  </nav>
</div>