<div class="mb-5">
  <nav class="navbar navbar-expand-lg fixed-top heading bg-primary" data-bs-theme="dark">

    <div class="container container-fluid">
      <%# * Navbar logo %>
      <%= link_to image_tag("logo.png", size: "30", alt: "logo"), root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%# * Create Sabeel %>
          <% if current_user.is? "admin" %>
            <li class="nav-item">
              <%= link_to "Create Sabeel", new_sabeel_path, id: "create-sabeel", class: "nav-link mt-3 mx-4 px-4 rounded-pill mt-lg-0" %>
            </li>
          <% end %>

          <%# * Resources %>
          <%= render partial: "shared/navbar/resources_dropdown" %>
          <%# * Statistics %>
          <%= render partial: "shared/navbar/statistics_dropdown" %>
          <%# * User Dropdown %>
          <% if current_user.is? "admin" %>
            <%= render partial: "shared/navbar/admin_dropdown" %>
          <% elsif current_user.is? "member" %>
            <%= render partial: "shared/navbar/member_dropdown" %>
          <% else %>
            <li id="viewer"><%= link_to "Log out", destroy_path, data: {turbo_method: :delete}, class: "nav-item nav-link text-center text-danger fw-bold" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
