<div class="c-bg border shadow-lg container col-lg-4 offset-lg-4 p-5 rounded-5">
  <%= simple_form_for @transaction, url: url_helper do |f| %>
    <%= f.error_notification %>
    <%= f.input :recipe_no, required: true %>
    <%= f.input :amount, hint: "Amount shouldn't be greater than: #{@total_balance}", required: true %>
    <%= f.input :mode, collection: MODES.map { |mode| [mode.capitalize, mode] } %>
    <%= f.input :date, order: %i[day month year] %>
    <%= f.button :submit %>
  <% end %>
</div>
