<h1>Show Transaction #<%= @transaction.recipe_no %> </h1>
<h3>of the thaali number
     <%= link_to @thaali_takhmeen.number, takhmeen_path(@thaali_takhmeen) %>
     (<%= @transaction.thaali_takhmeen.year %>)</h3>

<p><%= link_to @sabeel.hof_name, sabeel_path(@sabeel) %></p>
<p><%= @transaction.amount %></p>
<p><%= @transaction.mode %></p>
<p><%= @transaction.on_date %></p>

<%= link_to "Edit Transaction", edit_transaction_path(@transaction) %>
<%= link_to "Delete Transaction", @transaction, class: "button",
     data: { turbo_method: :delete,
     turbo_confirm: "Are you sure you want to delete Transaction reciepe no: #{@transaction.recipe_no}" }%>
