<%# * Title %>
<h1 class= "text-center">Show Transaction #<%= @transaction.recipe_no %></h1>

<h3 class= "text-center">of the thaali number
     <%= link_to @thaali_takhmeen.number, takhmeen_path(@thaali_takhmeen) %>
     (<%= @transaction.thaali_takhmeen.year %>)</h3>


<%# * show %>
<p><%= link_to @sabeel.hof_name, sabeel_path(@sabeel) %></p>
<p><%= @transaction.amount %></p>
<p><%= @transaction.mode %></p>
<p><%= @transaction.readable_on_date %></p>


<%# * action buttons %>
<%= render partial: "shared/actions",
    locals: { edit_path: edit_transaction_path(@transaction), model: "Transaction" } %>


<%# * destroy Modal %>
<%= render partial: "shared/destroy_modal",
     locals: {destroy_path: @transaction, message: "delete Transaction reciepe no: #{@transaction.recipe_no}?" } %>