<div class="c-bg border shadow-lg container col-lg-4 offset-lg-4 p-5 rounded-5">
    <%= simple_form_for @thaali_takhmeen, url: url_helper do |f| %>
        <%= f.error_notification %>

        <%# for new takhmeen it will show current year %>
        <% if @thaali_takhmeen.year.nil? %>
            <%= f.input :year, disabled: true, input_html: { value: CURR_YR } %>

        <%# for existing takhmeen it will its year %>
        <% else %>
            <%= f.input :year, disabled: true %>
        <% end %>

        <%= f.input :number, required: true %>
        <%= f.input :size, collection: ThaaliTakhmeen.sizes.keys.map{ |size| [size.titleize, size] } %>
        <%= f.input :total, required: true %>
        <%= f.button :submit %>
    <% end %>
</div>

<%# * back button %>
<%= render partial: "shared/back" %>