<p class="mt-5 fw-bold text-center text-info">Total number of Thaalis: <%= @thaalis.count %></p>

<div id="show-header-thaali_takhmeen" class="row py-2 fs-5 fw-semibold">
    <div class="col">
        <th>Thaali No.</th>
    </div>
    <div class="col">
        <th>HOF Name</th>
    </div>
    <div class="col">
        <th>Size</th>
    </div>
    <div class="col">
        <th>Total</th>
    </div>
    <div class="col">
        <th>Fully Paid?</th>
    </div>
</div>
<% @thaalis.each do |thaali| %>
    <div class="row py-3 fs-5 border-bottom border-light">
        <div class="col">
            <%= button_to thaali.number, takhmeen_path(thaali), method: :get, class: "btn btn-outline-primary btn-sm px-3" %>
        </div>
        <div class="col fw-bold">
            <%= thaali.sabeel.hof_name %>
        </div>
        <div class="col text-secondary">
            <%= thaali.size.capitalize %>
        </div>
        <div class="col text-success">
            <%= thaali.show_currency_for(thaali.total) %>
        </div>
        <div class="col text-secondary">
            <%= thaali.is_complete %>
        </div>
    </div>
<% end %>
