<div id="show-thaali_takhmeen" class="col-md-2 mx-auto mt-5 rounded-5 shadow fs-5 py-3">
    <div class="row border-bottom border-3 m-0 pb-3">
        <div class="col fw-bolder text-end">
            <span>Size</span>
        </div>
        <div class="col text-primary">
            <%= @thaali_takhmeen.size.capitalize %>
        </div>
    </div>
    <div class="row border-bottom border-3 m-0 py-3">
        <div class="col fw-bolder text-end">
            <span>Niyat</span>
        </div>
        <div class="col text-info">
            <%= show_currency_for(@thaali_takhmeen.total) %>
        </div>
    </div>
    <div class="row border-bottom border-3 m-0 py-3">
        <div class="col fw-bolder text-end">
            <span>Paid</span>
        </div>
        <div class="col text-success">
            <%= show_currency_for(@thaali_takhmeen.paid) %>
        </div>
    </div>
    <div class="row border-bottom border-3 m-0 py-3">
        <div class="col fw-bolder text-end">
            <span>Balance</span>
        </div>
        <div class="col text-danger">
            <%= show_currency_for(@thaali_takhmeen.balance) %>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col fw-bolder text-end">
            <span>Done?</span>
        </div>
        <div class="col text-info">
            <%= @thaali_takhmeen.is_complete %>
        </div>
    </div>
</div>