<%# * Title %>
<h2 class= "text-center">Show all Takhmeens for the year <span class="text-secondary"><%= $CURRENT_YEAR_TAKHMEEN %></span> </h2>


<%# * search %>
<div id="search" class="col-md-4 offset-md-4 mt-5" role="search">
    <%= search_form_for @q, data: { turbo_frame: :results }, url: root_path do |f| %>
      <%= f.search_field :number_cont,
            oninput: 'this.form.requestSubmit()', placeholder: "Search By Thaali Number",
            class: "form-control",  type: "search", autofocus: true, autocomplete: "off" %>
    <% end %>
</div>


<%# * show - Current Year Thaalis %>
<%= turbo_frame_tag :results do %>
    <div id="thaalis" class="mt-5">
        <div class="container text-center">
            <% if @thaalis.any? %>
                <%= render partial: "all_thaali_takhmeens" %>
            <% else %>
                <%= render partial: "shared/no_results"%>
            <% end %>
        </div>
    </div>
<% end %>