<%# * Title %>
<h2 class= "text-center">Show all Takhmeens for the year <span class="text-secondary"><%= $active_takhmeen %></span> </h2>


<%# * search %>
<div id="search" class="col-md-4 offset-md-4 mt-5" role="search">
    <%= search_form_for @q, url: root_path, data: { controller: "search", debounce_target: "form", turbo_frame: :results } do |f| %>
      <%= f.search_field :number_cont,
            placeholder: "Search By Thaali Number",
            class: "form-control",  type: "search", autocomplete: "off", autofocus: true,
            data: { action: "input->search#submit" } %>
    <% end %>
</div>

<p class="mt-5 fw-bold text-center text-info">Total number of Takhmeens: <%= @active_thaalis.count %></p>

<%# * show - Current Year Thaalis %>
<%= turbo_frame_tag :results, data: { turbo_action: "advance" } do %>
    <div class="container text-center mt-5">
        <% if @thaalis.any? %>
            <%= render partial: "theader" %>
            <div id="thaalis"></div>
            <%= turbo_frame_tag :pagination, loading: :lazy, src: root_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h) %> %>
        <% else %>
            <%= render partial: "shared/no_results"%>
        <% end %>
    </div>
<% end %>