<%# * Title %>
<h1 class= "text-center">Show all Takhmeens for the year: <%= $CURRENT_YEAR_TAKHMEEN %> </h1>


<%# * Current Year Thaalis %>
<% @thaalis.each do |thaali| %>
    <%= link_to thaali.sabeel.hof_name, sabeel_path(thaali.sabeel) %>
    <%= link_to thaali.number, takhmeen_path(thaali) %>
    <%= thaali.size %>
    <%= thaali.is_complete %>
<% end %>