<h1>Show all Takhmeens for the year: <%= $CURRENT_YEAR_TAKHMEEN %> </h1>

<%= link_to "Add New Sabeel", new_sabeel_path %>
<%= link_to "Show All Sabeels", all_sabeels_path %>
<%= link_to "Show All Transactions", all_transactions_path %>


<br>

<% @thaalis.each do |thaali| %>
    <%= link_to thaali.sabeel.hof_name, sabeel_path(thaali.sabeel) %>
    <%= link_to thaali.number, takhmeen_path(thaali) %>
    <%= thaali.size %>
    <%= thaali.is_complete %>
<% end %>