<h1>New Takhmeen</h1>

<% if @prev_thaali %>
    <%= @prev_thaali.number %>
<% else %>
    <%= simple_form_for @thaali_takhmeen, url: sabeel_takhmeens_path do |f| %>
        <%= f.error_notification %>

        <%= f.input :year, disabled: true, hint: 'You cannot change this field' %>

        <%= f.input :number %>

        <%= f.input :size, collection: ThaaliTakhmeen.sizes.keys.map{ |size| [size.titleize, size] } %>

        <%= f.input :total %>

        <%= f.submit %>
    <% end %>
<% end %>