<%# * Title %>
<h1 class= "text-center">Show Thaali Takhmeen <span class="text-muted">#<%= "#{@thaali_takhmeen.number}" %></span></h1>
<h3 class= "text-center">of ITS <%= link_to @sabeel.its, sabeel_path(@sabeel), class: "btn btn-outline-primary" %>
    <span class="text-muted">(<%= @thaali_takhmeen.year %>)</span> </h3>


<%# * show %>
<p><%= @thaali_takhmeen.size %></p>
<p><%= @thaali_takhmeen.total %></p>
<p><%= @thaali_takhmeen.paid %></p>
<p><%= @thaali_takhmeen.balance %></p>
<p><%= @thaali_takhmeen.is_complete %></p>


<%# * action buttons %>
<%= render partial: "shared/actions",
    locals: { edit_path: edit_takhmeen_path(@thaali_takhmeen), model: "Thaali Takhmeen" } %>


<%# * destroy Modal %>
<%= render partial: "shared/destroy_modal",
     locals: {destroy_path: takhmeen_path(@thaali_takhmeen), message: "delete Thaali no: #{@thaali_takhmeen.number}?" } %>


<%# * Transactions %>
<%= button_to "New Transaction", new_takhmeen_transaction_path(@thaali_takhmeen), method: :get,  class: "btn btn-outline-success mt-5 vstack mx-auto" unless @thaali_takhmeen.is_complete %>

<div id="transactions" class="mt-3">
    <div class="container text-center">
        <% if @transactions.any? %>
            <%= render partial: "transactions/show" %>
        <% else %>
            <p class="fs-4 text-warning">No Transactions to show</p>
        <% end %>
    </div>
</div>