<p><%= @thaali_takhmeen.year %></p>
<p><%= @thaali_takhmeen.number %></p>
<p><%= @thaali_takhmeen.size %></p>
<p><%= @thaali_takhmeen.total %></p>
<p><%= @thaali_takhmeen.paid %></p>
<p><%= @thaali_takhmeen.is_complete %></p>


<%= link_to "Edit Takhmeen", edit_takhmeen_path(@thaali_takhmeen) %>
<%= button_to "Delete Takhmeen", takhmeen_path(@thaali_takhmeen),
     data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete Thaali number: #{@thaali_takhmeen.number} for the year: #{@thaali_takhmeen.year}" }, method: :delete %>

<p>Total Transactions <%= @transactions.count %></p>

<% if @transactions.any? %>
    <% @transactions.each do | transaction | %>
        <div id="transaction_<%= transaction.recipe_no %>">
            <span id="<%= transaction.recipe_no %>"> <%= link_to transaction.recipe_no, transaction_path(transaction) %> </span>
            <%= transaction.amount %>
            <%= transaction.mode %>
            <%= transaction.on_date %>
        </div>
    <% end %>
<% end %>