<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FMB" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body onselectstart="return false">
    <%= render "shared/navbar/navbar" if current_user.present? %>
    <br>
    <%= render "shared/flash_messages" %>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
