<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for :title || "FMB" %></title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body onselectstart="return false">
    <%= render "shared/flash_messages" if flash.present? %>

    <% if authenticated? %>
      <header class="heading">
        <%= render "shared/navbar/navbar" %>

        <%= content_for :heading %>
      </header>
    <% end %>

    <main class="<%= (action_name == "home") ? "" : "container mt-3" %>">
      <%= yield %>
    </main>

    <%= render "shared/footer" unless authenticated? %>
  </body>
</html>
