<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for :title || "FMB" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body onselectstart="return false">
    <%= render "shared/flash_messages" if flash.present? %>

    <% if current_user.present? %>
      <header class="heading">
        <%= render "shared/navbar/navbar" %>

        <%= content_for :heading %>
      </header>
    <% end %>


    <main class="<%= (action_name == "home") ? "" : "container mt-3" %>">
      <%= yield %>
    </main>

    <%= render "shared/footer" if current_user.blank? %>
  </body>
</html>
